<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="dbargain_price" instance="DBargain\DBargain\Observer\BargainPriceObserver" />
    </event>

    <event name="customer_login">
        <observer name="dbargain_customer_login" instance="DBargain\DBargain\Observer\CustomerLoginObserver" />
    </event>

    <event name="checkout_onepage_controller_success_action">
        <observer name="dbargain_after_order" instance="DBargain\DBargain\Observer\OrderSaveObserver" />
    </event>
</config>
